<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graeme.dnd5echaracterroller" >

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SelectClass"
            android:label="@string/title_activity_select_class"
            android:parentActivityName=".SelectRoll"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectRoll"
            android:label="@string/title_activity_select_roll"
            android:parentActivityName=".SelectPath"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SeeCharacter"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_see_character"
            android:parentActivityName=".SelectClass" >
        </activity>
        <activity
            android:name=".SelectPath"
            android:label="@string/app_name"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeePreviousCharacters"
            android:label="@string/title_activity_see_previous_characters"
            android:parentActivityName=".SelectPath"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.dnd5echaracterroller.SelectPath" />
        </activity>
    </application>

</manifest>
